<section class="bg-primary border-right p-3" id="sidebar">
  <h3 class="text-warning">AnGiffy</h3>
  <hr class="text-white mb-4" />

  <div class="list-group list-reset" style="min-width: 180px">
    <p *ngIf="!historial.length; else results" class="text-secondary">
      No hay búsquedas
    </p>

    <ng-template #results>
      <a
        href="#"
        class="list-group-item list-group-item-action bg-success text-white"
        *ngFor="let item of historial"
      >
        {{ item | titlecase }}
      </a>
    </ng-template>
  </div>
</section>
